<strong>Olá, {{ provider }}</strong>
<p>Houve um cancelamento de horário, confira os detalhes abaixo: </p>
<p>
  <Strong>Cliente: </Strong> {{user}} <br />
  <Strong>Data/hora: </Strong> {{date}} <br />
  <br />
  <small>
    O horário está novamente disponível para novos agendamentos
  </small>
</p>
